<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://news.mit.edu/topic/machine-learning?from=www.mlhub123.com/" class="link" target="_blank">MIT News</a> |
            <a href="https://www.openml.org/search?type=data/" class="link" target="_blank">NASA DataSets</a> |
            <a href="https://scikit-learn.org/stable/index.html" class="link" target="_blank">scikit-learn</a>
        </div>
        <p class="copyright">
            Copyright © 2022 M-Learning.com All Right Reserverd
        </p>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>