<div class="nav-top">
    <div class="w">
        <div class="user-userinfo">
            <div class="nav-top-simple">
                <a href="" class="link logo">M-Learning</a>
            </div>
        </div>
        <ul class="nav-top-list">
            <li class="nav-top-item">
                <a href="#" class="link">
                    <i class="fa fa-shopping-cart"></i>
                    消息(<span class="cart-count">0</span>)
                </a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">我的收藏</a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">个人中心</a>
            </li>
            <li class="nav-top-item">
                <a href="#" class="link">关于M-Learning</a>
            </li>
        </ul>
    </div>
</div>