<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>软件缺陷预测</title>
    <!--
        <link href="../page/index/index.css" rel="stylesheet" type="text/css"/>
    -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div id="background">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#train" data-toggle="tab">
                    模型训练
                </a>
            </li>
            <li>
                <a href="#predict" data-toggle="tab">
                    缺陷预测
                </a>
            </li>
        </ul>
        
        <div id="myTabContent" class="tab-content">
    
            <div class="tab-pane fade in active" id="train">              
                <img src="#" class="img-thumbnail">

                <div class="chooseModel">
                    <form method="post">
                        <h3>模型选择</h3>
                        <input type="radio" name="model1" value="随机森林模型" class="chooseItem" checked />随机森林模型<br/>
                        <input type="radio" name="model1" value="深度神经网络模型" class="chooseItem" />深度神经网络模型<br/>
                        <input type="radio" name="model1" value="K-邻近模型" class="chooseItem" />K-邻近模型    
                    </form>
                    <br/>
                    <button type="button" class="btn btn-primary chooseItem">模型训练</button>
                </div>
                
            </div>
    
            <div class="tab-pane fade" id="predict">
            <img src="#" class="img-thumbnail">

                <div class="chooseModel">
                    <form method="post">
                        <h3>模型选择</h3>
                        <input type="radio" name="model1" value="随机森林模型" class="chooseItem" checked />随机森林模型<br/>
                        <input type="radio" name="model1" value="深度神经网络模型" class="chooseItem" />深度神经网络模型<br/>
                        <input type="radio" name="model1" value="K-邻近模型" class="chooseItem" />K-邻近模型    
                    </form>
                    <br/>
                    <button type="button" class="btn btn-primary">开始预测</button>
                    <button type="button" class="btn btn-primary">保存预测报告</button>
                </div>

            </div>
    
        </div>
    </div>

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>


</html>