<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('./common/common-head.htm') %>
    <meta charset="UTF-8">
    <title>软件缺陷预测</title>
    <!--
        <link href="../page/index/index.css" rel="stylesheet" type="text/css"/>
    -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <%= require('./common/nav-top.htm') %>
<div class="bg">
    <div id="background">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#train" data-toggle="tab">
                    模型训练
                </a>
            </li>
            <li>
                <a href="#predict" data-toggle="tab">
                    缺陷预测
                </a>
            </li>
            <li>
                <a id="toResultList" href="#resultSet" data-toggle="tab">
                    训练结果列表
                </a>
            </li>
        </ul>
        
        <div id="myTabContent" class="tab-content">
    
            <div class="tab-pane fade in active" id="train">              
                <img id="img_train" class="img-thumbnail">

                <div class="chooseModel">

                    <form method="post">
                        <h3>模型选择</h3>
                        <input id="random_train" type="radio" name="model1" value="随机森林模型" class="chooseItem" checked />随机森林模型<br/>
                        <input id="dnn_train" type="radio" name="model1" value="深度神经网络模型" class="chooseItem" />深度神经网络模型<br/>
                        <input id="kmeans_train" type="radio" name="model1" value="k-means算法模型" class="chooseItem" />k-means算法模型<br/>
                        <input id="knn_train" type="radio" name="model1" value="K-邻近模型" class="chooseItem" />K-邻近模型    
                    </form><br/>

                    <div class="chooseFile">
                        <button id="fileChooseBtn1" class="btn btn-default" type="button">选择数据集</button>
                        <input id="filename1" type="text" class="form-control" readonly="readonly">
                    </div><br/>

                    <button id="trainBtn" type="button" class="btn btn-primary chooseItem">模型训练</button>
                </div>
                
            </div>
    
            <div class="tab-pane fade" id="predict">
                <img id="img_predict" class="img-thumbnail">

                <div class="chooseModel">
                    <form method="post">
                        <h3>模型选择</h3>
                        <input id="random_predict" type="radio" name="model1" value="随机森林模型" class="chooseItem" checked />随机森林模型<br/>
                        <input id="dnn_predict" type="radio" name="model1" value="深度神经网络模型" class="chooseItem" />深度神经网络模型<br/>
                        <input id="kmeans_predict" type="radio" name="model1" value="k-means算法模型" class="chooseItem" />k-means算法模型<br/>
                        <input id="knn_predict" type="radio" name="model1" value="K-邻近模型" class="chooseItem" />K-邻近模型    
                    </form><br/>

                    <div class="chooseFile">
                        <button id="fileChooseBtn2" class="btn btn-default" type="button">选择数据集</button>
                        <input id="filename2" type="text" class="form-control" readonly="readonly">
                    </div><br/>

                    <button id="predictBtn" type="button" class="btn btn-primary">开始预测</button>
                    <button type="button" class="btn btn-primary">保存预测报告</button>
                </div>
            </div>

            <div class="tab-pane fade" id="resultSet">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>算法</th>
                            <th>数据集</th>
                            <th>准确率</th>
                            <th>精确率</th>
                            <th>召回率</th>
                            <th>f1值</th>
                            <th>时间</th>
                        </tr>
                    </thead>
                    <tbody id="testResult">
                    </tbody>
                </table>
            </div>
    
        </div>
    </div>
</div>

    <!-- 弹窗 -->
    <div class="modal" id="myModal">
        <!-- 弹窗内容 -->
        <img class="modal-content" id="image" />
    </div>


    <%= require('./common/common-footer.htm') %>
</body>


</html>